# pip install -r requirements.txt

# base ----------------------------------------
-f https://download.pytorch.org/whl/torch_stable.html
Cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python-headless==4.2.0.32
Pillow>=8.0.0
PyYAML>=5.3
scipy>=1.4.1
tensorboard>=2.2
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tqdm>=4.41.0
Flask>=1.1.2
itsdangerous>=1.1.0
Jinja2>=2.11.2
Werkzeug>=1.0.1
gunicorn==20.0.4

# coco ----------------------------------------
# pycocotools>=2.0

# export --------------------------------------
# packaging  # for coremltools
# coremltools==4.0
# onnx>=1.7.0
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
# thop  # FLOPS computation
# seaborn  # plotting